 html {
                                        background-color: rgba(172, 166, 205, 0.824);
                                    }
                                    
                                    .logos {
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                    
                                    .icons {
                                        width: 7%;
                                        color: black;
                                        position: relative;
                                    }
                                    
                                    .bar {
                                        width: 150px;
                                        height: 50px;
                                        padding-left: 50px;
                                        border-radius: 70%
                                    }
                                    
                                    footer {
                                        background-color: rgb(217, 206, 165);
                                    }
                                    /*menu*/
                                    
                                    .menu {
                                        margin-right: 113px;
                                        padding-left: 0px;
                                        margin-top: -27px;
                                        list-style: none;
                                        display: flex;
                                        justify-content: space-evenly;
                                    }
                                    
                                    .name-nav {
                                        color: black;
                                        font-family: cursive;
                                    }
                                    
                                    .name-nav:hover {
                                        font-family: fantasy;
                                        color: dimgrey;
                                    }
                                    /*stories*/
                                    
                                    .circle-story {
                                        height: 50px;
                                        width: 50px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                        display: inline-block;
                                        margin-left: 40%;
                                    }
                                    
                                    .box-story {
                                        display: inline-block;
                                        margin-left: 7%;
                                    }
                                    
                                    .story {
                                        background-color: rgb(0, 0, 0);
                                    }
                                    
                                    .name-story {
                                        color: ghostwhite;
                                    }
                                    
                                    .circle-story:hover {
                                        box-shadow: 11px 3px 33px;
                                        height: 60px;
                                        width: 60px;
                                    }
                                    /*feed  HACEE UNA FLIP CARD*/
                                    
                                    .section-cards {
                                        display: flex;
                                        margin-top: 50px;
                                        flex-direction: row;
                                        justify-content: center;
                                        flex-wrap: wrap;
                                        max-width: 300px;
                                    }
                                    
                                    .section-cards {
                                        margin: 20px 10px 20px 10px;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-content: center;
                                        max-width: 350px;
                                        padding: 15px;
                                        border-radius: 109;
                                    }
                                    
                                    .card:hover {
                                        color: blanchedalmond;
                                    }
                                    
                                    .imgf {
                                        display: flex;
                                        justify-content: center;
                                        align-content: center;
                                        max-width: 300px;
                                        padding: 15px;
                                        border-radius: 10%;
                                        margin: 10px 20px 10px 20px;
                                        box-shadow: 20px 10px 30px black;
                                        box-shadow: 20px -10px 30px;
                                    }
                                    
                                    h3 {
                                        margin: 10px;
                                        font-size: 20px;
                                        text-align: center;
                                    }
                                    
                                    .imgf {
                                        width: 300px;
                                        height: 250px;
                                        align-self: center;
                                        border-radius: 20%;
                                    }
                                    /*footer*/
                                    
                                    .whatif {
                                        display: flex;
                                        justify-content: center;
                                        font-family: cursive;
                                        padding: 10px;
                                    }
                                    
                                    .redes {
                                        width: 7%;
                                        display: inline-block;
                                        max-width: 30px;
                                        margin: 8%;
                                    }
                                    /*MEDIA*/
                                    
                                    @media (max-width: 415px) {
                                        .menu {
                                            display: none;
                                        }
                                    }
                                    
                                    @media (min-width: 415px) {
                                        .bar {
                                            display: none;
                                        }
                                        .icons {
                                            width: 3%;
                                        }
                                    }
